.product-card {
  color: #333333;
  border: 0.5px;
  list-style-type: none;
  background-color: #F7F7FA;
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  width: calc((100% - 60px) / 3); 
  min-width: 280px;
}

.product-card_name{
  font-weight: 700;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 8px;
}

.cards-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  object-fit: contain;
  padding: 8px;
}

.product-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px;
}

.product-card p:first-of-type {
    margin-bottom: 10px; 
}

.product-card p:nth-of-type(2) {
    margin-bottom: 15px; 
}

.product-card p {
    line-height: 1.4;
}

.product-card ul li {
    position: relative;
    padding-left: 17px;
    line-height: 1.4;
    margin-bottom: 6px;
}

.product-card ul {
    list-style-type: none;
    margin-top: 10px;
    padding-left: 0;
}

.product-card ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.5em;
    width: 7px;
    height: 7px;
}